
body{
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.titular{
    color: rgb(137, 130, 238);
    text-align: center;
    font-size: 5rem;  
}
@media (max-width:170px ) {
    .titular{
        display: flex;
        flex-direction: column;
        font-size: revert;
    }
}

.bg-intro{
    color: ivory;
    /*background-color: lightcoral;*/
    background-size: cover;
}

@media (max-width: 170px) {
    .intro{
        font-size: inherit;
        text-align: center;
    }
        
}