/*paleta de colores -- color pallet*/
:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #8bfaff;
  --gris: #757575;
  --morado: rgb(137, 130, 238);
  --transparente: rgb(38 21 84 / 48%);
}

body {
  /* background-image: url(../img/1.png); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.titular {
  color: var(--morado);
  text-align: center;
  font-size: 5rem;
  margin-top: 1em;
}
.intro {
  width: 60%;
  font-size: 2.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  
}
.bg-intro {
  color: var(--secundario);
  /* background-size: cover; */
  padding: 3rem;
}
.sombra {
  box-shadow: 0px 0px 15px 0px rgba(117, 117, 117, 0.85); /*obtenido de pagina web sombreados*/
  background-color: var(--transparente);
  padding: 1rem;
  border-radius: 0.5rem;
}
table {
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
}
th, td {
  border: 1px solid grey;
  color: white;
}
th {
  font-size: 1.4rem;
}
td {
  font-size: 1.2rem;
}
.nav-link:hover {
  color: black;
  font-weight: 500;
} 
.active {
  color: black;
  font-weight: 600;
}

/* Gallery starts here */
.boxes-grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1rem;
  margin: 2rem auto;
  max-width: 100rem;
  padding: 0.2rem;
  
}
.box {
  width: 100%;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.7rem;
  line-height: 0.5rem;
  background-color: #e4e2e2;
  box-shadow: 0 5px 5px 2px grey;
}
.box-title {
  margin-top: 0.5rem;
}
.box-img{
  width: 100%;
  display: block;
  border-radius: 0.5rem;
}
.city-name {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
.city-id {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}
.city-description {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}
/* Gallery ends here */










.footer {
  display: flex;
  flex-direction: column;  
  
  background-color: #ffffff;
}
.footer__title {
  text-align: center;
  font-size: 1.3rem;
  
}














@media (max-width: 170px) {
  .titular {
    display: flex;
    flex-direction: column;
    font-size: revert;
  }
}



@media (max-width: 170px) {
  .intro {
    font-size: inherit;
    text-align: center;
  }
}

